body{
  margin: 0;
  background: url('https://images6.alphacoders.com/542/542776.jpg');
  /* background-size: 1536px 850px; */
  background-position-x: -100px;
  background-position-y: -220px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
}

/*Footer style*/
.footer{
  background-color: gray;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.made-by{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
}

.logo{
  width: 45px;
  height: 45px;
}

.logo img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.socmed-icons{
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a{
  text-decoration: none;
  color: #fff;
}

.socmed-icons i{
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.fa-github:hover{
  color: #171515;
}

.fa-linkedin:hover{
  color: #0e76a8;
}
.fa-dribbble:hover{
  color: #ea4c89;
}

/*Home page style "Levels"*/
.levels-section{
  width: 600px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sign{
  width: 500px;
  margin-bottom: 30px;
}

.sign-img{
  width: 100%;
}

h3{
  margin-bottom: 50px;
  color: #000;
}

.difficulty-section{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.select{
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: #252d4a;
  border: 5px solid #234668;
  padding: 5px;
  border-radius: 15px;
  transition: transform .5s ease-in-out;
}

.select:hover{
  cursor: pointer;
  transform: scale(1.1);
}

/*Quiz App style*/
.quiz-app{
  background-color: #252d4a;
  width: 430px;
  min-height: 250px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

/*Scroe section style*/
.score-section{
  display: flex;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.score-section button{
  margin-top: 20px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.show-score{
  align-self: flex-end;
  justify-self: end;
  text-align: center;
}

/*Question section style*/
.question-section{
  width: 100%;
  height: 100%;
  position: relative;
  margin-right: 12px;
}

.question-count{
  margin-bottom: 20px;
}

.question-count span{
  font-size: 28px;
}

.question-text{
  margin-bottom: 12px;
}

/*Choices section style*/
.answer-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.singleOption{
  width: 100%;
  font-size: 16px;
  color: #fff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

.singleOption:disabled,
.singleOption[disabled]{
  color: #cccccc;
}


.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

/*Next buttom style*/
.next-section{
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.next-button{
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
}

/*Error msg style*/
.error-msg{
  text-align: center;
  background-color: #ff3333;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

/* Extra small devices (phones, 600px and down)*/
@media only screen and (max-width: 600px){
  body{
    background-position-x: -730px;
    background-position-y: 0px;
    background-size: 1536px 870px;
  }

  .levels-section{
    width: 300px;
  }

  .sign{
    width: 300px;
  }

  .select{
    width: 70px;
    height: 70px;
    font-size: 15px;
  }

  .footer{
    padding: 10px;
  }

  .made-by{
    width: 200px;
    justify-content: space-around;
  }

  .logo{
    width: 30px;
    height: 30px;
  }

  .made-by span{
    font-size: 15px;
  }

  .socmed-icons{
    width: 150px;
  }
}

/*Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px){}

/*Meduim devices (landscape tablets, 768px and up)*/
@media only screen and (min-width: 768px){}

/*Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px){}

/*Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px){}